<!doctype html>
<html>
  <head>
    <title>Test 1</title>
    <style type="text/css">
      <%= styles %>
    </style>
  </head>
  <body>
    <div class="form">
      <h1>Form Example 1</h1>

      <form method="POST">
        <% form.each do |field| %>
        <% with_errors = !field.errors.empty? %>
        <div class="<%= field.css_classes('field') %>">
          <%= field.label_tag %>
          <%= field %>
          <% unless field.errors.empty? %>
          <span class="error">[x]<span class="field-errors"><%= field.errors %></span></span>
          <% end %>
          <% unless field.help_text.empty? %>
          <span class="help">[?]<span class="help-text"><%= field.help_text %></span></span>
          <% end %>
        </div>
        <% end %>

        <button>Submit</button>
      </form>
    </div>

    <% if req.post? && form.valid? %>
    <h2>Result:</h2>
    <pre>
      <code>
        <% form.cleaned_data.each do |label, data| %>
        <%= "#{label}: #{ERB::Util.html_escape(data.inspect)}" %>
        <% end %>
      </code>
    </pre>
    <% end %>
  </body>
</html>
