body{
   font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
}

p, h1, form, button {
   border:0;
   margin:0;
   padding:0;
}

.form {
   border:solid 2px #b7ddf2;
   background:#ebf4fb;
}

.form form {
   margin:0 auto;
   width:960px;
   padding:14px;
}

.form h1 {
   font-size:14px;
   font-weight:bold;
   margin-bottom:8px;
}
.form ul {
   list-style-type: none;
}
.form .field {
   padding: 10px 0;
   width: 470px;
   float: left;
}
.form .field.with-errors label {
   color: #dd0000;
}
.form .required label {
   color: #000000;
}
.form label {
   color: #999999;
   display:block;
   font-weight:bold;
   text-align:right;
   padding: 6px 2px;
   width:140px;
   float:left;
}
.form ul label {
   width: auto;
}
.form .help-text {
   color:#ffffff;
   background-color: #222244;
   border: solid 2px #ffffff;
   display:none;
   font-size:11px;
   font-weight:normal;
   text-align:right;
   padding: 6px 2px;
   position: absolute;
   top: -30px;
   right: -30px;
}
.form .field-errors {
   color:#ffffff;
   background-color: #bb2222;
   border: solid 2px #ffffff;
   display:none;
   font-size:11px;
   font-weight:normal;
   text-align:right;
   padding: 6px 2px;
   position: absolute;
   top: -30px;
   right: -30px;
}
.form .help, .form .error {
   position: relative;
}
.form .help:hover .help-text {
   display: block;
}
.form .error:hover .field-errors {
   display: block;
}
.form input, .form textarea, .form select {
   float:left;
   font-size:12px;
   padding:4px 2px;
   border:solid 1px #aacfe4;
   width:220px;
   margin:2px 0 20px 10px;
}
.form ul input {
   width: auto;
}
.form button {
   clear:both;
   margin-left:450px;
   width:125px;
   height:31px;
   background:#000000;
   text-align:center;
   line-height:31px;
   color:#FFFFFF;
   font-size:11px;
   font-weight:bold;
}
